
#recipe-card{
position: relative;
left: 10px;
margin-top: 50px;
background-image: url("list-bg.png");
background-repeat: no-repeat;
height:300px;

}

#meat p {
margin-top: 30px;
width: 950px;
line-height:1.5em;
font-family: Georgia, 'Times New Roman', Times, serif;
color: gray;

}

#meat{
position: relative;
margin: auto;
width: 1000px;
padding-top: 50px;
padding-bottom: 30px;
}

#form1, #form2{

    font-family: 'Patrick Hand', cursive;
    position: relative;
    display: inline-flex;
    left: 100px;
    top: 30px;
    width: 400px;
    height: 300px;
    font-size: 25px;


}
#print p{
    color: gray;
    display: inline;
    font-family: Lato;
    text-transform: uppercase;
}


#print button {
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 32%;
    background: none;
    border: none;

}
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Yellowtail;
    src:url("Yellowtail-Regular.ttf");
}

header {
    background-color: white;
    position: relative;
    width: 100%;
}

#logo {
    padding:10px 10px 20px 10px;
    width: 50%;
}

#logo img{
    float: left;
    padding: 10px;
    padding-bottom: 20px;
}

h1 {
    font-family: Yellowtail;
    font-size: 3em;
    margin: 0;
    padding: 0;
}

h4 { margin: 0;
    margin-top: -10px;
    padding : 0;
    font-family: Lato;
    text-transform: uppercase;
    font-size: .7em;
    color: #8c8c8c;
}

#title {
    padding-top: 50px;
    padding-left: 15px;
}

#title h2{
    font-family: 'Work Sans', sans-serif;
    font-size: 2.5em;
    margin-bottom: 15px;
}

#title h4{
    font-size: .8em;
    letter-spacing: 2px;
}

#twits{
    position: absolute;
    top: 40%;
    right: 0%;
}

.stripe{
    width: 100%;
    height: 15px;
    background: repeating-linear-gradient(
        45deg,
        #ffffff,
        #ffffff 3px,
        #8c8c8c 2px,
        #8c8c8c 5px
    );
}

#tag{
    position: relative;
    width: 100%;
}

#tag img{
    float: left;
    padding: 10px;
    padding-bottom: 20px;
}

#tag h2{
    margin: 35px 0px 0px 0px;
    padding: 10px 0px 0px 0px;
}

#tag p{
    margin: 10px 0px 0px 10px;
    padding : 0px ;
    font-size: 1.2em;
    display: inline;
}

#tag button{
    position: absolute;
    right: 5%;
    width: 200px;
    background-color: #bc7058;
    font-family: Lato;
    text-transform: uppercase;
    padding: 20px;
    color: white;
    font-size: 1.2em;
    border: none;
}

footer{
    padding-top: 100px;
    text-align: center;
}

footer img{
    display:block;
    margin: auto;
    padding-bottom: 40px;
}

footer p{
    width: 400px;
    margin: auto;
    color: #8c8c8c;
}

